body{
    background-color: rgb(60, 59, 59);
}
.box1{
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-name: myflip;
}

@keyframes myflip{
0%{background-color: aliceblue;left:0px ;top:0px; border-radius: 0 0 0 0;}
25%{background-color: rgb(188, 29, 8);left:300px; top:0px; border-radius: 0 70px 0 70px;}
50%{background-color: rgb(25, 172, 12);left:300px; top:300px; border-radius: 0 70px 70px 70px;}
75%{background-color: rgb(12, 92, 162);left:300px; top:0px; border-radius: 70px 70px 70px 70px ;}
100%{background-color: aliceblue; left:0px ;top:0px; border-radius: 0 70px 0 70px; }
}
